Assignment1_KK/Assignment1_Client_KK/Connected Services/FunctionsReference/Functions2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1423/Functions.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="IsPrimeNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputStr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPrimeNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsPrimeNumberResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SumOfDigits">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputStr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SumOfDigitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SumOfDigitsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReverseAString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputStr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReverseAStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReverseAStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintHtml">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputStr1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="inputStr2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintHtmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrintHtmlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SortNumbers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sortType" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="inputArray" nillable="true" type="q1:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SortNumbersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SortNumbersResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>